#south{
    text-align: center;
    height: 50px;
}

#north{
    font-family:"Microsoft YaHei UI";
    font-size: 40px;
    line-height: 40px;
    height: 110px;
}

#east{
    width:150px;
}

#west{
    width:150px;
}

#center{
    padding: 5px;
    background: #c7edcc;
}

#logo{
    height: auto;
    width: 80px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
}

#robot-logo{
    height: 120px;
    width: auto;
    padding: 10px;
}

#robot-info{
    text-align: center;
}

#user-logo{
    height: 120px;
    width: auto;
    padding: 10px;
}

#user-info{
    text-align: center;
}

#content{
    width: auto;
    height:835px;
}

#content-area{
    width: 1700px;
    height: 830px;
}

#message{
    width: auto;
    padding-left: 150px;
    padding-top: 5px;
}

#msg{
    width:80%;
}

.info-title{
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    color: black;
}

.text-title{
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    color: black;
}

.info{
    font-family: "Microsoft YaHei UI";
    font-size: 18px;
    color: #0000FF;
}

.text{
    font-family: "Microsoft YaHei UI";
    font-size: 18px;
    color: #d84f4b;
}
